<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inter Milan Microsite</title>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"
      crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css"
      href="${out.global.app.staticUrl}/css/flexslider.css?${out.global.app.assetsVersion}">
    <link rel="stylesheet"  type="text/css"
      href="${out.global.app.staticUrl}/css/style.css?${out.global.app.assetsVersion}">

    <include(input.head)/>

  </head>
  <body>
    <div class="mobile-head navigation">
  		<div class="ui container">
  			<div class="ui equal width grid">
  				<div class="left aligned align-left column">
  					<!-- <a href="#" class="burger-access"><i class="ssicon-burger"></i></a> -->
            <div id="main">
              <span style="color:#818181;font-size:34px;cursor:pointer" onclick="openNav()">&#9776;</span>
  				  </div>
          </div>
  				<div class="center aligned align-center column">
  					<!-- <a href=""><img src="https://cdn01.supersoccer.tv/ms/promo/public/img/sstv-logo-small.png" alt="" class="ui image"></a> -->
            <a href=""><img src="${out.global.app.staticUrl}/img/inter-hd-logo.png" width="50" height="50" alt="" class="ui image"></a>
  				</div>
  				<div class="right aligned column nav-has-icon">
  					<a href=""><i class="ssicon-search"></i></a>
  				</div>
  			</div>
  		</div>
  	</div>
  	<!-- Add class open right after burger-menu class to open this -->
  		<div id="mySidenav" class="sidenav">
  			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times; <i class="ssicon-closebtn"></i></a>

  				<li><a href="">Channels</a></li>
  				<li><a href="">Shows</a></li>
  				<li><a href="">Live/Replay</a></li>
  				<li><a href="">News</a></li>
  				<li><a href="">Buy Package</a></li>
  				<li><a href="">Help</a></li>
  				<li class="separator"></li>
  				<li class="alternate"><a href="">Login</a></li>
  				<li class="alternate"><a href="">Register</a></li>

  		</div>
      <include(input.body)/>
      <footer>
    		<p>&copy; 2018 Super Soccer TV</p>
    	</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->

  	<!-- Semantic -->
  	<script src="${out.global.app.staticUrl}/js/semantic.min.js"></script>
  	<script>
  		$('.ui.dropdown')
  			.dropdown()
        ;
  	</script>

  	<!-- Flexslider -->
  	<script src="${out.global.app.staticUrl}/js/jquery.flexslider.js"></script>
  	<script>
  		$(window).load(function() {
  			$('.flexslider').flexslider({
  				animation: "slide",
  			});
  		});

  	</script>
    <script>
      function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
          document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
      }

      function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
          document.body.style.backgroundColor = "white";
      }
    </script>
  	<script src="${out.global.app.staticUrl}/js/jquery.easing.js"></script>
  	<script src="${out.global.app.staticUrl}/js/jquery.mousewheel.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
      integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
      crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.4/datepicker.min.js"/>
    <script src="http://semantic-ui.com/javascript/library/tablesort.js"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.min.js"
      integrity="sha256-gxrLQGTAWsRF+AR60wCn6BJeS9B6qU/udmfaN9ICOlc="
      crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"/> -->
    <script>
      window._ = window._ || {};
      window._.hostname = '${out.global.app.hostname}';
      window._.url = '${out.global.url}';
    </script>
    <!-- <script src="${out.global.app.staticUrl}/js/main.js?${out.global.app.assetsVersion}"/> -->

    <include(input.tail)/>

  </body>
</html>
